/* ~~~~~~~~~~~~~~~~~~~~~~~STYLING DEFAULTS~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
    box-sizing: border-box;
}
:root {
    --page-margin: clamp(1rem, 5vw, 2rem);
    --format-gap: 2rem;
    --page-purple: #3d0050;
    --page-blue: #00022d;
    --page-gray: #3b3b3b;
    --card-color: linear-gradient(160deg, rgba(255, 255, 255, 0.15) 0%, rgba(255,255,255, 0.05) 100%);
    --card-border: rgba(255, 255, 255, 0.2);
    --text-color: white;
    --text-shadow-color: black;
    --box-shadow-color: var(--card-border);
;
}

/* text and cross-section styling */
p, li, nav a, footer a, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px var(--text-shadow-color);

}
#home-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-shadow: 1px 1px 2px var(--text-shadow-color);
}
footer > * {
    text-shadow: 1px 1px 2px var(--box-shadow-color);
}
h1 {
    display: block;
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: bold;
    line-height: 1.2em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: var(--text-color);
 }
 h2 {
    display: block;
    line-height: 1.75em;
    font-weight: bold;
    font-size: clamp(0.8rem, 5vw, 2rem);
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    color: var(--text-color);

 }
 h3 {
    display: block;
    /* font-weight: bold; */
    font-size: clamp(0.75rem, 5vw, 1.75rem);
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--text-color);

 }
p, nav a, li{
    display: block;
    line-height: 1.5em;
    font-size: clamp(0.5rem, 5vw, 1.2rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}
nav a, footer a, footer p {
    font-size: clamp(0.5rem, 2vw, 1rem);
}

ul {
    list-style: none;
    padding-left: 0;
}
li {
    position: relative;
    padding-left: 1.5em;

    display: block;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: var(--text-color);
}
li:before {
    content: "+";
    position: absolute;
    left: 0;
}

a:focus-visible {
border: 3px dashed red;
}


body {
    background: radial-gradient(circle at center, #640481 10%, var(--page-purple) 40%, var(--page-blue));
}

/* styling nav links */
a {
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    z-index: 0;
}
.style-a:before{
    content:"";
    inset: -0.5em;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.2s ease;
    opacity: 0;
    z-index: -1;


    background: var(--card-color);
    border: 1px solid var(--card-border);
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 1px var(--box-shadow-color),
    inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.1);
}
.style-a:hover:before {
    opacity: 1;
}


#skip-to-content {
    display: block;
    position: absolute;
    top: -100px;
    text-align: center;
    font-size: 2em;
    background-color: white;
    color: black; 
    padding: clamp(0.2em, 5vw, 1em);  
    z-index: 100;

    transition-property: top;
    transition-duration: 0.2s;
}
#skip-to-content:focus {
    top:10px;
    left: 10px;
}



/* styling the cards to be glossy*/
.glassy-block {
    background: var(--card-color);
    border: 1px solid var(--card-border);
    backdrop-filter: blur(20px);

    box-shadow: 0 5px 5px var(--box-shadow-color),
    inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.1);
}

.section-sans-header {
    padding: clamp(0.25em, 5vw, 3em) clamp(0.33em, 5vw, 3em);
    /* padding: 3em 4em; */
}

/* styling the buttons inside the cards to be even glassier */
.explore-button {
    background:linear-gradient(
    160deg,
    rgba(43, 43, 43, 0.8) 0%, 
    rgba(43, 43, 43, 0.4) 100%
    );

    border: 1px solid var(--card-border);
    backdrop-filter: blur(15px);
    transition: 0.1s box-shadow ease, backdrop-filter 0.5s ease;


    box-shadow: 0 5px 5px var(--box-shadow-color),
    inset 0 1px 0 rgba(43, 43, 43, 0.4),
    0 0 0 1px rgba(43, 43, 43, 0.1);
    padding: clamp(0.2em, 5vw, 1em) clamp(0.3em, 5vw, 1.33em);
    margin: var(--page-margin);
}
.explore-button:hover {
    box-shadow: 0 -2px 3px var(--box-shadow-color),
    inset 1px 2px 5px 2px rgba(43, 43, 43, 0.4),
    0 0 0 1px rgba(43, 43, 43, 0.1);
    
    background:linear-gradient(
    160deg,
    rgba(23, 23, 23, 0.8) 0%, 
    rgba(23, 23, 23, 0.4) 100%
    );

    backdrop-filter: blur(0px);

}



/* styling the header (mobile-first)*/
#sticky-header {
    display: grid;
    justify-content: stretch;
    position: sticky;
    z-index: 50;
    top: 0;
    transition: top 0.5s ease-in-out;
    background-color: var(--page-gray);
    box-shadow: 0px 5px 5px var(--text-shadow-color);
}
#home-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#menu-toggle {
    background: var(--card-color), url("../images/three-lines.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    
    transition: box-shadow 0.2s ease-in;
    height: 3rem;
    width: 3rem;
}
#menu-toggle:hover {
    box-shadow: 0 -2px 3px var(--box-shadow-color),
    inset 1px 2px 5px 2px rgba(255, 255, 255, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.1);
}
#menu-toggle:focus-visible {
    border: 3px dashed red;
}



nav {
    margin: 0 var(--page-margin);
    display: grid;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~STYLING MAIN PAGE~~~~~~~~~~~~~~~~~~~~ */
#main-page-h1 {
    font-size: clamp(1rem, 10vw, 5rem);
}

/* styling the main content */
main {
    margin: var(--page-margin);
    display: grid;
    gap: 3em;
}

/* styling the hi im alison block */
#spacing-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: clamp(0.25em, 5vw, 3em) clamp(0.33em, 5vw, 3em);

}

#name-header {
    /* aspect-ratio: 1; */
    display: grid;
    align-content: center;
    justify-items: center;
    text-align: center;
    /* width: 50%; */
}
#name-header{
    margin: var(--page-margin);
    
}


#my-work {
    display: grid;
}
#case-study-card-wrapper {
    width: 100%;
    display: grid;
    gap: 3em;
}

.case-study-card {
    display: grid;
    width: 100%;
    /* padding: 1em; */
    justify-content: stretch;
    align-content: baseline;
    gap: 1em;
}

#case-study-card-text {
    padding: clamp(0.5em, 2vw, 0.8em);
    text-align: center;
    /* justify-self: center; */
}



/* making the image BIG */
.case-study-card img {
    display: block;
    width: 100%;
    height: auto;
    padding: 3px;
    transition: transform 0.2s ease;
    border: solid 2px var(--card-border);
    

}
.case-study-card a {
    display: block;
    width: 100%;
    /* object-fit: cover; */
    align-content: center;
    justify-content: center;
    outline-offset: 4px;
}
.case-study-card figure {
    display:block;
    width: 100%;
}

.case-study-card a:hover img {
    transform: scale(0.95);
    outline-offset: 10px;

    border: 10px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 5px var(--box-shadow-color),
    inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.1);

}

/* fix the h3 top margin for spacing */
.case-study-card > *{
    text-align: left;
}
/*                                     */

/*                          */

/* styling accesssibility card without header and the top blurb*/
.section-sans-header {
    display: grid;
    justify-items: center;
    
}
.section-sans-header p {    
    text-align: center;
}   



/* styling the footer */
footer {
    position: relative;
    background-color: var(--page-gray);
    box-shadow: 0px -5px 5px black;
}
#footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--page-margin);
    gap: 0 var(--format-gap);
    margin-bottom: 0;
}

#contact {
    display: flex;
    align-items: center;
    gap: var(--format-gap);
}

/* styling the particles */
#particle-up-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    /* stops particles from expanding the screen */
    overflow: hidden;
    /* stops it from blocking clicks */
    pointer-events: none;
    
}
.particle {
    position: absolute;
    border-radius: 50%;
    background: rgba(194, 194, 194, 0.15);
    animation: float 10s infinite linear;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-150vh) rotate(360deg);
        opacity: 0;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~STYLING SPECIAL MAIN GAP~~~~~~~~~~~~~~~~~~*/
#main-page #main-content {
    gap: 7em;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~STYLING THE CASE STUDIES PAGE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#cs-case-study-card-wrapper {
    display: grid;
    gap: 2em;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~CASE STuDY PICTURES INDIVIDUALLY */
figure > img {
    width: 100%;
    border: solid 2px var(--card-border);

}
.has-figure {
    display: grid;
    gap: 1em;
}



.case-study-card h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    display: block;
    font-size: clamp(0.5rem, 3vw, 2rem);
    margin-top: 1em;
    margin-bottom: 1em;
    text-shadow: none;
} 


/* ~~~~~~~~~~~~~~~~~~~~~~~~~REDUCED MOTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



@media (prefers-reduced-motion: reduce) {
    *, *:before, *:hover {
        transition: none !important;
    }
    .particle {
        animation: none;
    }

}

